# Vercel Postgres (otomatis terisi saat link Vercel Postgres di dashboard)
POSTGRES_URL=
POSTGRES_PRISMA_URL=
POSTGRES_URL_NON_POOLING=
POSTGRES_USER=
POSTGRES_HOST=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=

# Base URL untuk QR Code
NEXT_PUBLIC_BASE_URL=https://exclusive.theinnovatorsstudio.id
